#container {
    border: 1px solid #f0f2eb;
    margin: auto;
    margin-top: 10px;
    position: relative;
}

#image {
    margin-bottom: 40px;
}

#btnVoirOffre {
    position: absolute;
    bottom:10px;
}
#info {
    margin-left: 10%;
}
